---
import Name from "../../components/Name/Name.astro";
---

<section class="hero-section" id="hero-section" aria-label="hero-section">
  <Name />
</section>
<style>
  .hero-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
