<style>
  .parallax {
    background-image: url("https://media.ahmad.studio/background.avif");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-color: red;
    background-size: cover;
    position: relative;
    width: 100%;
  }
  img {
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
  }

  .header {
    position: fixed;
    inset: 0 0 auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14.5vw;
    color: deeppink;
  }
</style>

<div class="parallax">
  <img src="https://media.ahmad.studio/main.avif" alt="logo" />
  <span class="header">Ahmad Abo Elzahab</span>
</div>
