@import url("https://fonts.googleapis.com/css2?family=Chicle&display=swap");
@import "tailwindcss";

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  overscroll-behavior: none;
}
::-webkit-scrollbar {
  width: 2px;
  background: black;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

body {
  margin: 0;
  overscroll-behavior: none;
  font-family: "Chicle", serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  transition: opacity ease-in 0.2s;
}
