---
import Name from "../Name/Name.astro";
---

<div class="tui-panel red-168 full-width tui-no-shadow">
  &nbsp;Software Engineer
</div>
<nav class="tui-nav">
  <ul>
    <li class="tui-dropdown">
      <span class="red-168-text">F</span>ile
      <div class="tui-dropdown-content">
        <ul>
          <li><a href="#!"><span class="red-168-text">N</span>ew</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
<Name />
