<div class="tui-panel red-168 full-width tui-no-shadow">
  &nbsp;Software Engineer
</div>
<nav class="tui-nav">
  <ul>
    <li class="tui-dropdown">
      <span class="red-168-text">F</span>ile
      <div class="tui-dropdown-content">
        <ul>
          <li><a href="#!"><span class="red-168-text">N</span>ew</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
<pre>
    <span class="white-text">
    _    _                         _      _    _             _____ _          _           _     
   / \  | |__  _ __ ___   __ _  __| |    / \  | |__   ___   | ____| |______ _| |__   __ _| |__  
  / _ \ | '_ \| '_ ` _ \ / _` |/ _` |   / _ \ | '_ \ / _ \  |  _| | |_  / _` | '_ \ / _` | '_ \ 
 / ___ \| | | | | | | | | (_| | (_| |  / ___ \| |_) | (_) | | |___| |/ / (_| | | | | (_| | |_) |
/_/   \_\_| |_|_| |_| |_|\__,_|\__,_| /_/   \_\_.__/ \___/  |_____|_/___\__,_|_| |_|\__,_|_.__/               
        </span>
  
</pre>
