<nav class="tui-nav no-padding">
  <div class="tui-panel red-168 full-width tui-no-shadow">
    <div class="top-header flashing-element">
      <p>Software Engineer</p>
    </div>
  </div>

  <span class="red-168-text">AZ</span>
  <span class="red-168-text">AZ</span>
</nav>
<style>
  .top-header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-inline: 16px;
  }
  p {
    padding: 0px;
    margin: 0px;
  }
  @keyframes blink {
    0%,
    49% {
      opacity: 1;
    }
    50%,
    100% {
      opacity: 0;
    }
  }

  .flashing-element {
    animation: blink 1s infinite;
  }
</style>
