---
import Navbar from "../components/Navbar/navbar.astro";
import Statusbar from "../components/Statusbar/Statusbar.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="tui-bg-blue-black">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta
      name="description"
      content="Full-stack developer specializing in React, Node.js, and cloud technologies based in Dubai, UAE"
    />

    <meta name="generator" content={Astro.generator} />
    <title>Ahmad Abo Elzahab | Software Engineer</title>
  </head>
  <body>
    <slot />
  </body>
</html>
