---
import Navbar from "../components/Navbar/navbar.astro";
import Statusbar from "../components/Statusbar/Statusbar.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="tui-bg-blue-black">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Ahmad</title>
  </head>
  <body
    ><Navbar />
    <slot />
    <Statusbar /></body
  >
</html>
